<html>
    <head>
        <title> {{title}} </title>
    </head>
    <body>
        <h1>Messages: </h1>
        <ul>
            {{#messages}}
            <li>{{content}}</li>
            {{/messages}}
        </ul>
    </body>
</html>