{
    "extends": [
      "finn",
      "finn/es-modules",
      "finn-react"
    ],
    "env": {
        "browser": true
    },
    "rules": {
      "max-len": ["error", 400],
      "react/prop-types": 0
    }
}
