<!DOCTYPE html>
<html>

<head>
    <title>Simplish Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/public/styles.css" rel="stylesheet"></link>
</head>

<body>
    <form id="username-input">
        <label for="name">Name:</label>
        <input type="text" id="username" name="name" />
        <button>Log in</button>
    </form>

    <ul id="messages"></ul>

    <form id="new-message-form">
        <input id="message"></input>
    </form>
    <script src="/public/main.js"></script>
</body>

</html>